* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}


body {
  font-family: Arial, sans-serif;
  background-color: #efebfa;
  color: #201f20;
  line-height: 1.6;
  padding: 20px;
}

h1{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
  color: #2f0f55;}

.profile-card {

  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  width: 90%;
  margin: 20px auto;
  padding: 20px 40px;
  height: auto;
  
  text-align: center;
}

.img-profile {

  width: 400px;
  height: 400px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 15px;
  background-color: #a296b1;
  overflow: hidden;
  object-fit: cover;
}  

.click {
  display: block;
  margin: 0 auto;
  background-color: #7a7481;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 15px;
  width: 250px;
  height: 50px;

}

.click:hover {
  background-color: #3f3757;
}


#tran:has(.click:hover) .img-profile {

  animation: animate;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-play-state: running;


}



@keyframes animate {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(0.4) translateY(-180px);
   
  }
}

#tran:has(.click:not(:hover) ~ .img-profile){

  transform: scale(0.4);
  transform: translateY(-180px);


}


  /*
    from{
      transform: scale(1);
    }
    to{
      transform: scale(-0.9);
    }
}

  /* transform: scale(-1.3);
  transition: transform 0.4s ease; */

