* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #efebfa;
  color: #201f20;
  padding: 20px;
}


.profile-card {
  background-color: #ffffff;
  border-radius: 10px;
  max-width: 700px;
  width: 90%;
  margin: 20px auto;
  padding: 20px 40px;
  text-align: center;
  position: relative;
  overflow: hidden;
}


.img-profile {
  transform: translateY(70px);
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #907baa;
  margin: 0 auto;
  transition: transform 0.4s ease;

}


#shrinkToggle {
  display: none;
}


#shrinkToggle:checked ~ .img-profile {
  transform: scale(0.4) translateY(-180px);
}

/* Button */
.click {
  background-color: #7a7481;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  width: 250px;
  height: 50px;
  display: block;
  margin: 20px auto 0;
  text-align: center;
  cursor: pointer;
}

.click:hover {
  background-color: #3f3757;
}

/* --- SOCIAL ICONS --- */
.social-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;



}

.social-icons li {
  list-style: none;

}

.social-icons li a {
  width: 50px;
  height: 50px;
  background: white;
  text-align: center;
  line-height: 50px;
  margin: 0 8px;
  border-radius: 50%;
  font-size: 22px;
  color: #333;
  transition: 0.4s;
  opacity: 0;
  transform: translateY(150px);

}


#shrinkToggle:checked ~ .social-icons li a {
  opacity: 1;
  transform: translateY(0);
}

#shrinkToggle:checked ~ .social-icons li:nth-child(1) a { transition-delay: 0.1s; }
#shrinkToggle:checked ~ .social-icons li:nth-child(2) a { transition-delay: 0.2s; }
#shrinkToggle:checked ~ .social-icons li:nth-child(3) a { transition-delay: 0.3s; }
#shrinkToggle:checked ~ .social-icons li:nth-child(4) a { transition-delay: 0.4s; }

.social-icons li a .fab {
  transition: 0.8s;
}

.social-icons li a:hover .fab {
  transform: rotateY(360deg);
}

/* --- ABOUT ME SECTION --- */
.about-me {
  margin-bottom: 90px;
  opacity: 0;
  transform: translateY(60px);
  transition: 0.6s ease;
  /* max-width: 560px; */
  text-align: center;
  font-size: 1.1rem;
  color: #3b3550;
}


#shrinkToggle:checked ~ .about-me {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.4s; 
}

@media (max-width: 768px) {
  .img-profile {
    width: 360px;
    height: 360px;
    background-color: #ffffff;
  }
  #shrinkToggle:checked ~ .img-profile {
    transform: scale(0.5) translateY(-130px);
    border-color: #3f3757;
    border-radius: 50px;
  }
}